@{
    ViewBag.Title = "Resultados de Reparto";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
 

@Styles.Render("~/Content/dataTables-bootstrap/css/dataTables.bootstrap.min.css")
@Scripts.Render("~/Content/dataTables-bootstrap/js/jquery.dataTables.min.js")
@Scripts.Render("~/Content/dataTables-bootstrap/js/dataTables.bootstrap.min.js")

@Styles.Render("~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css")
@Scripts.Render("~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
@Scripts.Render("~/Content/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")

@Scripts.Render("~/Content/bootstrap/js/bootstrap-filestyle.min.js")

@Scripts.Render("~/Scripts/jquery.fileDownload.js")
@Scripts.Render("~/Content/angular/angular.js")
@Scripts.Render("~/Content/AnglarUpload/angular-file-upload.min.js")

@Scripts.Render("~/Scripts/jquery.fileDownload.js")
@Scripts.Render("~/Content/angular/angular.js")

<style>
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }


    .modal-dialog {
        width: 300px;
    }

    .form-control {
        font-size: 11px;
        width: 100%;
        height: 28px;
    }

    input[type="text"] {
        font-size: 11px;
    }

    .btn {
        font-size: 12px;
    }



    input[type="text"] {
        font-size: 11px;
    }

    label {
        font-family: "Tahoma", "Geneva", sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    #Principal {
        width: 98%;
        height: 600px;
    }

    #Contenedor {
        width: 98%;
    }

    #Marco {
        padding-left: 5px;
        padding-top: 15px;
        margin: -10px;
    }

    .datepicker {
        width: 200px;
    }


    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 2px;
    }

    .tblDsige th {
        color: #fff !important;
        background-color: rgba(48, 115, 181, 0.83) !important;
        text-align: center;
    }

    .tblDsige span {
        color: #337ab7;
        cursor: pointer;
    }


    input[type=checkbox], input[type=radio] {
        margin: -4px 0 0;
    }

    th {
        text-align: left;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: right;
        margin-top: -30px !important;
    }
</style>

<script type="text/javascript">

    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }

    var app = angular.module('myApp', []).directive('onFinishRender', function ($timeout) {
        return {
            restrict: 'A',
            link: function (scope, element, attr) {
                if (scope.$last === true) {
                    $timeout(function () {
                        scope.$emit('ngRepeatFinished');
                    });
                }
            }
        }
    }).directive('fileModel', ['$parse', function ($parse) {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                var model = $parse(attrs.fileModel);
                var modelSetter = model.assign;

                element.bind('change', function () {
                    scope.$apply(function () {
                        modelSetter(scope, element[0].files[0]);
                    });
                });
            }
        };
    }]);

    app.controller('MainCtrl', function ($scope, $http, $timeout, $q) {

        $(function () {
            $('#_fechaAsigna').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                autoclose: true
            });
        });

        $scope.id_tipoServicio = '0';

        $scope.Obj_List_Servicios = [];
        $scope.Listado_Servicios = function () {
            var variables = {
                method: 'POST',
                url: '../Ubicacion_Lecturas/ListandoServicios_reporte',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                }
            }
            $http(variables)
                .success(function (data) {
 
                    $scope.Obj_List_Servicios = [];
                    for (obj of data) {
                        if (obj.id_TipoServicio == 6 || obj.id_TipoServicio == 9 || obj.id_TipoServicio == 10) { 
                            $scope.Obj_List_Servicios.push(obj);
                        }
                    }



            })
            .error(function () {
                alert('Ocurrio un problema con la conexion, vuelva a intentar.')

            });
        }


        var oTable = null;

        $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
            oTable = $('#tblListaDetalle').DataTable(
                 {
                     scrollY: "500px",
                     paging: false
                 });
        });

        $scope.InicializandoVariables = function () {
            $scope.id_tipoServicio = '0';
            $scope.Listado_Servicios()
            setTimeout(function () {
                // inicializando el ComboBuscador
                //$("select").select2();
            }, 500);
        }

        function MostrandoFechaSistemaActual() {
            var fecha = new Date();
            var ano = fecha.getFullYear();
            var mes = fecha.getMonth();
            var mesFormato = '';

            if (mes <= 9) {
                mesFormato = '0' + (mes + 1);
            } else {
                mesFormato = (mes + 1);
            }

            $scope.id_anio = String(ano);
            $scope.id_mes = String(mesFormato);
            $scope.id_sector = Sector_Global;

        }

        $scope.RecepcionLecturas = function () {

            var dtp_fechaAsigna = document.getElementById('_fechaAsigna').value;
            var cbo_servicio = document.getElementById('idservicios').value;


            if (cbo_servicio == '' || cbo_servicio == 0 || cbo_servicio == null || cbo_servicio == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione el Servicio, Muchas gracias',
                    type: 'error'
                });
                return;
            }
            if (dtp_fechaAsigna == '' || dtp_fechaAsigna == 0 || dtp_fechaAsigna == null || dtp_fechaAsigna == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor ingrese o seleccione la Fecha de Asignacion.',
                    type: 'error'
                });
                return;
            }

            $('.sige-load').show();
            var variables = {
                method: 'POST',
                url: '../LecturaEnviarCliente/Proceso_Recepcion_lecturas',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    servicio: cbo_servicio,
                    fechaAsigna: dtp_fechaAsigna,

                }
            }
            $http(variables)
            .success(function (data) {
                $('.sige-load').hide();

                if (data == '"Ok"') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Se actualizó la información. Muchas gracias',
                        type: 'success'
                    });
                } else {
                    alert(data);
                }
            })
            .error(function () {
                $('.sige-load').hide();
                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
            });

        }

        $scope.MostrarInformacion = function () {

            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value; 
            var Sector = document.getElementById('cbo_sector').value; 

            if (fechaAsigna == '0' || fechaAsigna == null || fechaAsigna == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione la Fecha de Asignacion',
                    type: 'error'
                });
                return;
            }
            if (TipoServicio == '0' || TipoServicio == null  || TipoServicio == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un Tipo de Servicio',
                    type: 'error'
                });
                return;
            }
 

            $('.sige-load').show();
            $scope.ListaResumen = [];

            var ResumenLecturaDetallado = function () {
                var variables = {
                    method: 'POST',
                    url: '../ResultadosLectura/ListandoResumenReparto_Detallado_New2',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        FechaAsignacion: fechaAsigna,
                        id_tiposervicio: TipoServicio,
                        id_sector: Sector,
                    }
                }

                $('.sige-load').show();
                $http(variables)
                    .success(function (data) {

                        console.log(data)

                    $scope.ListaResumen_Observacion = [];

                    $('.sige-load').hide();
                    if (oTable == null) {
                        $scope.ListaResumen_Observacion = data;
                    } else {
                        oTable.clear();
                        oTable.destroy();
                        oTable = null;
                        $scope.ListaResumen_Observacion = data;
                    }

                    //----filas dinamicas--
                    //$scope.ListaResumen_Observacion = []
                    //$scope.ListaResumen_Observacion = data;

                       //----columnas dinamicas--
                    $scope.cols = Object.keys($scope.ListaResumen_Observacion[0]);



                })
                .error(function () {
                    $('.sige-load').hide();
                    alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                });
            }

            $scope.checkedallR = false;
            var variables = {
                method: 'POST',
                url: '../ResultadosLectura/ListandoResumenReparto',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    FechaAsignacion: fechaAsigna,
                    id_tiposervicio: TipoServicio,
                    id_sector: Sector,
                }
            }
            $http(variables)
            .success(function (data) {
                $('.sige-load').hide();
                $scope.ListaResumen = data;
                /////---mostrando la info ---
                ResumenLecturaDetallado();
            })
            .error(function () {
                $('.sige-load').hide();
                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
            });
        }

        $scope.ResultadoLecturas_Detallado = function () {

            var _fecha = document.getElementById('id_fecha').value;
            var _servicio = document.getElementById('cbo_servicio').value;
            var _cbo_sector = document.getElementById('cbo_sector').value;

            if (_servicio == '' || _servicio == 0) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un Servicio',
                    type: 'error'
                });
                return;
            }

            if (_fecha == '') {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor ingrese o seleccione una Fecha.',
                    type: 'error'
                });
                return;
            }
            ///------abriendo la Pagina nueva
            var url = "../ResultadosLectura/index_ResultadosLecturas_Detallado?servicio=" + _servicio + "&fecha=" + _fecha + "&sector=" + _cbo_sector + " ";
            var a = document.createElement("a");
            a.target = "_blank";
            a.href = url;
            a.click();
        }


        $scope.SeguimientoOperario = function (obj_operario) {

            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value;

            var url = "../SeguimientoOperario/index_SeguimientoOperario_II?fechaAsignacion=" + fechaAsigna + "&Servicio=" + TipoServicio + "&nroDocOperario=" + obj_operario + " ";

            var a = document.createElement("a");
            a.target = "_blank";
            a.href = url;
            a.click();
        }

        $scope.SeguimientoLectura = function (obj_operario) {

            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value;

            var url = "../SeguimientoLecturas/index_SeguimientoLecturas_II?fechaAsignacion=" + fechaAsigna + "&Servicio=" + TipoServicio + "&nroDocOperario=" + obj_operario + " ";

            var a = document.createElement("a");
            a.target = "_blank";
            a.href = url;
            a.click();
        }


        var pictures = $scope.pictures = [];
        $scope.OperarioConsulta = '';

        $scope.MostrarFotoSelfie = function (objOperario, nombreOperario) {
            $scope.OperarioConsulta = '';
            $scope.OperarioConsulta = ' - ' + nombreOperario;

            var _anio = document.getElementById('id_anio').value;
            var _mes = document.getElementById('id_mes').value;
            var cbo_sector = document.getElementById('cbo_sector').value;

            /// --abriendo el modal
            $('#modalSelfie').modal();

            $('.sige-load').show();
            pictures = $scope.pictures = [];

            var variables = {
                method: 'POST',
                url: '../ResultadosLectura/ListandoFotoSelfie',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    anio: _anio,
                    mes: _mes,
                    sector: cbo_sector,
                    operario: objOperario
                }
            }
            $http(variables)
            .success(function (data) {
                $('.sige-load').hide();

                for (var i = 0; i < data.length; i++) {
                    pictures.push({
                        url: data[i].fotourl,
                        id_Lectura: data[i].id_Lectura,
                        suministro: data[i].suministro_lectura,
                        medidor: data[i].medidor_lectura,
                        fecha: data[i].fecha,
                        hora: data[i].hora,
                        latitud: data[i].latitud,
                        longitud: data[i].longitud
                    });
                }
            })
            .error(function () {
                $('.sige-load').hide();
                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
            });
        }



        $scope.ListaNotas = [];
        var operario_Global = 0;

        $scope.AbrirModalNotas = function (objOperario) {
            var txt_comentario = document.getElementById('txt_comentario');

            operario_Global = 0;
            operario_Global = objOperario;
            $('#modalNotas').modal();
            txt_comentario.value = '';
            $scope.MostrarDetallesNotas(objOperario);
        }

        $scope.MostrarDetallesNotas = function (objOperario) {

            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value;

            if (fechaAsigna == '0' || fechaAsigna == null || fechaAsigna == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione la Fecha de Asignacion',
                    type: 'error'
                });
                return;
            }
            if (TipoServicio == '0' || TipoServicio == null || TipoServicio == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un Tipo de Servicio',
                    type: 'error'
                });
                return;
            }

            var variables = {
                method: 'POST',
                url: '../ResultadosLectura/ListandoNotasOperario',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    fechaAsignacion: fechaAsigna,
                    idServicio: TipoServicio,
                    operario: objOperario
                }
            }

            $('.sige-load').show();
            $http(variables)
            .success(function (data) {
                $('.sige-load').hide();
                $scope.ListaNotas = [];
                $scope.ListaNotas = data;

            })
            .error(function () {
                $('.sige-load').hide();
                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
            });
        }

        $scope.GuardarNotas = function () {
            var txt_comentario = document.getElementById('txt_comentario');
            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value;

            if (txt_comentario.value == null || txt_comentario.value == '' || txt_comentario.value == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor ingrese una Observación si desea Guardar.',
                    type: 'error'
                });
                return;
            }

            var variables = {
                method: 'POST',
                url: '../ResultadosLectura/Guardando_NotasOperario',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    fechaAsignacion: fechaAsigna,
                    idServicio: TipoServicio,
                    operario: operario_Global,
                    observacion: txt_comentario.value
                }
            }
            txt_comentario.value = '';

            $('.sige-load').show();
            $http(variables)
            .success(function (data) {
                $('.sige-load').hide();

                if (data == 'OK' || data == '"OK"') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Se guardó correctamente la Observación.',
                        type: 'success'
                    });

                    $scope.MostrarDetallesNotas(operario_Global);

                } else {
                    alert(data)
                }

            })
            .error(function () {
                $('.sige-load').hide();
                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
            });



        }

        $scope.AbrirModalObservaciones = function () {
            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value;

            if (fechaAsigna == '0' || fechaAsigna == null || fechaAsigna == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione la Fecha de Asignacion',
                    type: 'error'
                });
                return;
            }
            if (TipoServicio == '0' || TipoServicio == null || TipoServicio == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un Tipo de Servicio',
                    type: 'error'
                });
                return;
            }
            $scope.MostrarDetallesObservacion();
        }



        $scope.descargarEfectividad_detallado = function () {

            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value;

            if (fechaAsigna == '0' || fechaAsigna == null || fechaAsigna == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione el año y mes del combo de la fecha Asignacion',
                    type: 'error'
                });
                return;
            }
            if (TipoServicio == '0' || TipoServicio == null || TipoServicio == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un Tipo de Servicio',
                    type: 'error'
                });
                return;
            }


            (new PNotify({
                title: 'Sistemas Confirmación ',
                text: 'Esta seguro de  descargar la efectividad detallada, este proceso puede demorar..?',
                icon: 'glyphicon glyphicon-question-sign',
                hide: false,
                confirm: {
                    confirm: true
                },
                buttons: {
                    closer: false,
                    sticker: false
                },
                history: {
                    history: false
                }
            })).get().on('pnotify.confirm', function () {

                $('.sige-load').show();
                var variables = {
                    method: 'POST',
                    url: '../ResultadosLectura/Descargar_efectividad_detallado',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        servicio: TipoServicio,
                        fecha: fechaAsigna
                    }
                }
                $http(variables)
                    .success(function (data) {
                        $('.sige-load').hide();
                        var res = data.split("|");
                        if (res[0].replace(/["]/gi, '') == "0" || res[0].replace(/["]/gi, '') == 0) {
                            alert(res[1]);
                        } else {
                            var url = res[1].replace(/["]/gi, '');
                            window.open('http://www.cobraperu.com/Calidda/Temp/' + url);
                        }
                    }).error(function () {
                        $('.sige-load').hide();
                        alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                    });

            }).on('pnotify.cancel', function () {

            });
        }



        $scope.checkedallR = false;

        //$scope.lecturasPendientes = 0;
        $scope.addIdChecked_All = function (checked) {

            if ($scope.ListaResumen_Observacion == null || $scope.ListaResumen_Observacion.length == 0) {
                return;
            }

            $('.sige-load').show();
            table = $('#tblListaDetalle').DataTable();

            if (checked == true) {
                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {
                        return parseFloat(data[8]) > 0
                            ? true
                            : false
                    }
                );
                table.draw();
                $.fn.dataTable.ext.search.pop();
                $('.sige-load').hide();
            }
            else {
                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {
                        return true
                    }
                );
                table.draw();
                $.fn.dataTable.ext.search.pop();
                $('.sige-load').hide();
            }
        }


        $scope.ListaSector = [];
        $scope.listando_Supervisor = function () {
            $('.sige-load').show();
            var variables = {
                method: 'POST',
                url: '../ResultadosLectura/ListandoSector',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                }
            }
            $http(variables)
                .success(function (data) {
                    $('.sige-load').hide();
                    $scope.ListaSector = data;
                    setTimeout(function () { 
                            $('#cbo_supervisor').val(0).trigger('change'); 
                    }, 200);
                })
                .error(function () {
                    $('.sige-load').hide();
                    alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                });
        };
        $scope.listando_Supervisor();


        $scope.ListaUsuario_Operarios = [];
        $scope.Change_listando_Usuario_Operarios = function (obj_id_supervisor) {
            if (obj_id_supervisor == 0 || obj_id_supervisor == '0') {
                $scope.ListaUsuario_Operarios = [];
                return;
            }

            var variables = {
                method: 'post',
                url: '../asignar_supervisor/ListandoUsuario_Operarios',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    id_supervisor: obj_id_supervisor
                }
            }

            $('.sige-load').show();
            $scope.ListaUsuario_Operarios = [];
            $http(variables)
                .success(function (data) {
                    $('.sige-load').hide();
                    $scope.ListaUsuario_Operarios = data;
                })
                .error(function () {
                    alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                });
        };

        $scope.descagar_data = function () {

            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value;
            var cbo_supervisor = document.getElementById('cbo_supervisor').value;
            var cbo_Operario_supervisor = document.getElementById('cbo_Operario_supervisor').value;

            if (fechaAsigna == '0' || fechaAsigna == null || fechaAsigna == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione el año y mes del combo de la fecha Asignacion',
                    type: 'error'
                });
                return;
            }
            if (TipoServicio == '0' || TipoServicio == null || TipoServicio == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un Tipo de Servicio',
                    type: 'error'
                });
                return;
            }
            if (cbo_supervisor == '' || cbo_supervisor == '-1' || cbo_supervisor == -1) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un supervisor',
                    type: 'error'
                });
                return;
            }



         (new PNotify({
                    title: 'Sistemas Confirmación ',
                    text: 'Esta seguro de  descargar la Data..?',
                    icon: 'glyphicon glyphicon-question-sign',
                    hide: false,
                    confirm: {
                        confirm: true
                    },
                    buttons: {
                        closer: false,
                        sticker: false
                    },
                    history: {
                        history: false
                    }
                })).get().on('pnotify.confirm', function () {

                    $('.sige-load').show();
                    var variables = {
                        method: 'POST',
                        url: '../ResultadosLectura/Descargar_efectividad',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        data: {
                            servicio: TipoServicio,
                            fecha: fechaAsigna,
                            id_supervisor: cbo_supervisor,
                            id_operario_supervisor: cbo_Operario_supervisor
                        }
                    }
                    $http(variables)
                        .success(function (data) {
                            $('.sige-load').hide();
                            var res = data.split("|");
                            if (res[0].replace(/["]/gi, '') == "0" || res[0].replace(/["]/gi, '') == 0) {
                                alert(res[1]);
                            } else {
                                var url = res[1].replace(/["]/gi, '');
                                window.open('http://www.cobraperu.com/Calidda/Temp/' + url);
                            }
                        }).error(function () {
                            $('.sige-load').hide();
                            alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                        });

                }).on('pnotify.cancel', function () {

                });
        }


        $scope.AbrirModal_Operario_Observaciones = function (objOperario, nombreOperario) {
            operario_Global = 0;
            operario_Global = objOperario;

            $scope.OperarioConsulta = '';
            $scope.OperarioConsulta = nombreOperario;

            $scope.MostrarDetalles_Operario_Observacion(objOperario);
        }


        $scope.ListaOperario_Observacion = [];
        $scope.MostrarDetalles_Operario_Observacion = function (objOperario) {

            var fechaAsigna = document.getElementById('_fechaAsigna').value;
            var TipoServicio = document.getElementById('idservicios').value;


            if (fechaAsigna == '0' || fechaAsigna == null || fechaAsigna == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione la Fecha de Asignacion',
                    type: 'error'
                });
                return;
            }
            if (TipoServicio == '0' || TipoServicio == null || TipoServicio == undefined) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un Tipo de Servicio',
                    type: 'error'
                });
                return;
            }

            var variables = {
                method: 'POST',
                url: '../ResultadosLectura/Listando_Observaciones',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    fechaAsignacion: fechaAsigna,
                    idServicio: TipoServicio,
                    operario: objOperario,
                    id_supervisor: 0,
                    id_operario_supervisor: 0
                }
            }

            $('.sige-load').show();
            $http(variables)
                .success(function (data) {
                    $scope.ListaOperario_Observacion = [];
                    $scope.ListaOperario_Observacion = data;

                    setTimeout(function () {
                        $('.sige-load').hide();
                        $('#modalObservaciones').modal();
                    }, 500);
                })
                .error(function () {
                    $('.sige-load').hide();
                    alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                });
        }

    });

</script>

<div class="panel panel-oscuro" ng-app="myApp" ng-controller="MainCtrl" ng-init="InicializandoVariables();">
    <div class="panel-heading">
        <h6><i class="fa fa-table fa-lg"></i> RESULTADO DE REPARTO </h6>
    </div>
    <div class="panel-body">

        <div class="well" style="background: #314b75; color: white;margin-bottom: 2px;margin-top: -10px;">
            <div class="row" style="margin-top: -15px; margin-bottom: -10px;">
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <label for="_fechaAsigna">Fecha de Asignación:</label>
                        <input class="form-control" id="_fechaAsigna" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <label for="idservicios" style="font-size:11px">Servicio:</label>
                        <select id="idservicios" class="form-control" ng-model="id_tipoServicio">
                            <option value=0> [ --- SELECCIONE --- ] </option>
                            <option ng-repeat="item in Obj_List_Servicios" value="{{item.id_TipoServicio}}">
                                {{item.nombre_tiposervicio}}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <label for="cbo_sector" class="control-label">Sector</label>
                        <select id="cbo_sector" class="form-control" >
                            <option value=0> [ --- TODOS --- ] </option>
                            <option ng-repeat="item in ListaSector" value="{{item.id_Sector}}">
                                {{item.nombre_Sector}}
                            </option>
                        </select>
                    </div>
 
                </div>

                <div class="col-sm-12 col-md-3 col-lg-3">
                    <label for="_supervisor" class="control-label"></label>
                    <div class="form-group" style="text-align:center">
                        <button class="btn btn-sm  btn-success" style=" font-size: 14px;" ng-click="MostrarInformacion();"><span class="glyphicon glyphicon-refresh"></span> Mostrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-sm-4 col-lg-4">

            </div>
            <div class=" col-sm-4 col-lg-4">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <center> <h6 class="panel-title"> <strong style="color:black;font-size: 9px;"> RESUMEN DE LECTURA</strong> </h6>  </center>
                    </div>
                    <div class="panel-body" style=" margin-bottom: -5px;">
                        <div class="col-md-12" style=" text-align: left;" ng-repeat="obj in ListaResumen">
                            <div class="progress" style="margin-bottom: 10px;">
                                <div class="progress-bar" ng-style="{'width': obj.porc_ejecutado + '%' }">
                                    <span>{{obj.total_ejecutado}}</span>
                                </div>
                            </div>

                            <h5 style="margin-bottom: 10px;"> <strong> Total Lecturas :</strong>  <span class="label label-default" sstyle="font-size:14px;">        {{obj.total_lectura}}</span></h5>
                            <h5 style="margin-bottom: 10px;"><strong> Total Ejecutados :</strong>  <span class="label label-default" style="background-color: yellow; color: black; font-size:14px;">{{obj.total_ejecutado}}</span> <strong>         {{obj.porc_ejecutado}} %</strong></h5>
                            <h5 style="margin-bottom: 10px;"><strong> Total Pendientes :</strong>   <span class="label label-default" style="background-color: red; color: white; font-size:14px;">          {{obj.total_pendiente}}</span></h5>
                            <h5 style="margin-bottom: 10px;"><strong> Total Fotos :</strong>  <span class="label label-default" style="background-color: aquamarine; color: white; font-size:14px;">{{obj.total_fotos}}</span> <strong>          {{obj.porc_fotos}} %</strong></h5>
                        </div>

                    </div>
                </div>
            </div>

            <div class=" col-sm-4 col-lg-4">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <center> <h3 class="panel-title"><strong style="color:black;font-size: 10px">DETALLE DE LECTURAS POR OPERADOR</strong></h3>  </center>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <span class="label label-primary" style="background-color: #337ab7; font-size: 11px; color:white"> * Click en el Nombre del Operario para ver el detalle por Observación.</span>
                            <div class="checkbox clip-check check-danger checkbox-inline" style=" margin-top: 1px;">
                                <input type="checkbox" id="checkboxAll" style="margin-top: 2px;    margin-left: 2px;" value="1" ng-model="checkedallR" ng-click="addIdChecked_All(checkedallR)">
                                <label for="checkboxAll" style="color:red;"> Ver Lecturas Pendientes </label>
                            </div>

                            @*<table id="tblListaDetalle" class="table table-condensed table-bordered table-responsive" border="0" cellspacing="0" cellpadding="0" style="font-size:11px">
            <thead style="background: #F0F3F5;">
                <tr>
                    <th>#</th>
                    <th ng-repeat="column in cols" ng-if=" 'FueraHora' != column">
                        {{column}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ListaResumen_Observacion" on-finish-render="ngRepeatFinished">
                    <td>{{$index + 1}}</td>
                    <td ng-repeat="column in cols"  ng-if=" 'FueraHora' != column">
                        <div ng-if=" 'barraProgreso' != column  && 'Minimo' != column ">
                            {{row[column]}}
                        </div>
                        <div ng-if="'SegOperario' == column" style="text-align:center">
                            <img src="../Content/Imagen/Hombre.png" style="cursor:pointer " ng-click="SeguimientoOperario(row.id_Operario);" />
                        </div>
                        <div ng-if="'SegLectura' == column" style="text-align:center">
                            <img src="../Content/Imagen/Tierra.png" style="cursor:pointer " ng-click="SeguimientoLectura(row.id_Operario);" />
                        </div>

                        <div ng-if="'Minimo' == column">
                            <div ng-if="'SI' == row.FueraHora" style="text-align:center;background-color:red !important;color: white !important;">{{row.Minimo}}</div>
                            <div ng-if="'' == row.FueraHora" style="text-align:center"> {{row.Minimo}} </div>
                        </div>

                        <div ng-if="'barraProgreso' == column">
                            <div class="progress" style="margin-bottom: 2px;">
                                <div class="progress progress-bar" ng-style="{'width': row[column] + '%' }">
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>*@

                            @*<table id="tblListaDetalle" class="table table-condensed table-bordered table-responsive" border="0" cellspacing="0" cellpadding="0" style="font-size:11px">
            <thead style="background: #F0F3F5;">
                <tr>
                    <th>#</th>
                    <th>
                        Operario
                    </th>
                    <th style="text-align:center">Seg. Ope.</th>
                    <th style="text-align:center">Seg. Lec.</th>
                    <th style="text-align:right">Total</th>
                    <th style="text-align:right">Ejecutado</th>
                    <th style="text-align:right">Pendiente</th>
                    <th style="text-align:right">Con Foto</th>

                    <th>Barra Progreso</th>
                    <th>%</th>
                    <th style="text-align:center">Hora Inicial</th>
                    <th style="text-align:center">Hora Termino</th>
                    <th style="text-align:center">Horas Trabajadas</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="lista in ListaResumen_Observacion " on-finish-render="ngRepeatFinished">
                    <td>{{$index + 1}}</td>
                    <td style="cursor:pointer">{{lista.apellidos_operario}}</td>
                    <td style="text-align:center">
                        <img src="../Content/Imagen/Hombre.png" style="cursor:pointer " ng-click="SeguimientoOperario(lista.id_Operario);" />
                    </td>
                    <td style="text-align:center">
                        <img src="~/Content/Imagen/Tierra.png" style="cursor:pointer " ng-click="SeguimientoLectura(lista.id_Operario);" />
                    </td>
                    <td style="text-align:right">{{lista.Total}}</td>
                    <td style="text-align:right">{{lista.Ejecutada}}</td>
                    <td style="text-align:right">{{lista.Pendiente}}</td>
                    <td style="text-align:right">{{lista.Foto}}</td>
                    <td>
                        <div class="progress" style="margin-bottom: 2px;">
                            <div class="progress progress-bar" ng-style="{'width': lista.Porcentaje + '%' }">
                                <span>% {{lista.Porcentaje}} </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:right">{{lista.Porcentaje}}</td>
                       <td ng-if="'SI' == lista.FueraHora" style="text-align:center;background-color:red !important;color: white !important;">{{lista.Minimo}} </td>
                        <td ng-if="'' == lista.FueraHora" style="text-align:center">{{lista.Minimo}} </td>
                        <td style="text-align:center">{{lista.Maximo}}</td>
                        <td style="text-align:center">{{lista.totalHora}}</td>
                </tr>
            </tbody>
        </table>*@


                            <table id="tblListaDetalle" class="table table-condensed table-bordered table-responsive" border="0" cellspacing="0" cellpadding="0" style="font-size:11px">
                                <thead style="background: #F0F3F5;">
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Operario
                                        </th>
                                        <th style="text-align:center">Seg. Ope.</th>
                                        <th style="text-align:center">Seg. Lec.</th>
                                        <th style="text-align:right">Total</th>
                                        <th style="text-align:right">Ejecutado</th>
                                        <th style="text-align:right">Pendiente</th>
                                        <th style="text-align:right">Con Foto</th>
                                        <th style="text-align:center">% dia 1</th>
                                        <th style="text-align:center">% dia 2</th>
                                        <th style="text-align:center">% dia 3</th>

                                        @*<th>%</th>
                                        <th style="text-align:center">Hora Inicial</th>
                                        <th style="text-align:center">Hora Termino</th>
                                        <th style="text-align:center">Horas Trabajadas</th>*@
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="lista in ListaResumen_Observacion " on-finish-render="ngRepeatFinished">
                                        <td>{{$index + 1}}</td>
                                        <td style="cursor:pointer"> {{lista.id_Operario}}  : {{lista.apellidos_operario}}</td>
                                        <td style="text-align:center">
                                            <img src="../Content/Imagen/Hombre.png" style="cursor:pointer " ng-click="SeguimientoOperario(lista.id_Operario);" />
                                        </td>
                                        <td style="text-align:center">
                                            <img src="~/Content/Imagen/Tierra.png" style="cursor:pointer " ng-click="SeguimientoLectura(lista.id_Operario);" />
                                        </td>
                                        <td style="text-align:right">{{lista.Total}}</td>
                                        <td style="text-align:right">{{lista.Ejecutada}}</td>
                                        <td style="text-align:right">{{lista.Pendiente}}</td>
                                        <td style="text-align:right">{{lista.Foto}}</td>
                                        <td>
                                            <div class="progress" style="margin-bottom: 2px;">
                                                <div class="progress progress-bar progress-bar-danger " ng-style="{'width': lista.Porcentaje + '%' }">
                                                    <span></span>
                                                </div>
                                                <div style="color:black; padding: 3px;     text-align: center;">  {{lista.Porcentaje}}   % </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="progress" style="margin-bottom: 2px;">
                                                <div class="progress progress-bar progress-bar-warning" ng-style="{'width': lista.Porcentaje2 + '%' }">
                                                    <span></span>
                                                </div>
                                                <div style="color:black; padding: 3px;     text-align: center;">  {{lista.Porcentaje2}}   % </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="progress" style="margin-bottom: 2px;">
                                                <div class="progress progress-bar progress-bar-success" ng-style="{'width': lista.Porcentaje3 + '%' }">
                                                    <span> </span>
                                                </div>
                                                <div style="color:black; padding: 3px;     text-align: center;">  {{lista.Porcentaje3}}   % </div>
                                            </div>
                                        </td>

                                        @*<td style="text-align:right">{{lista.Porcentaje}}</td>
                                    <td ng-if="'SI' == lista.FueraHora" style="text-align:center;background-color:red !important;color: white !important;">{{lista.Minimo}} </td>
                                    <td ng-if="'' == lista.FueraHora" style="text-align:center">{{lista.Minimo}} </td>
                                    <td style="text-align:center">{{lista.Maximo}}</td>
                                    <td style="text-align:center">{{lista.totalHora}}</td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modalSelfie" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 60% !important;">
            <div class="panel panel-oscuro">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"><i class="fa fa-cogs fa-lg"></i> FOTO SELFIE  {{OperarioConsulta}}</h6>
                </div>
                <div class="panel-body">
                    <div class="form-group">

                        <div id="galeria" class="table table-responsive">
                            <div class="thumbnails">

                                <div class="col-md-4" style=" text-align: center;" ng-repeat="pic in pictures">
                                    <a href="{{pic.url}}" data-lightbox="example-set" data-title="">
                                        <img class="img-thumbnail" ng-src="{{pic.url}}" style="width: 350px; height: 250px;">
                                    </a>
                                    <span class="label label-default" style=" font-size: 11px;">Fecha : {{pic.fecha}}</span>
                                    <span class="label label-default" style=" font-size: 11px;">Hora : {{pic.hora}}</span>
                                    <span class="label label-default" style=" font-size: 11px;">Latitud : {{pic.latitud}}</span>
                                    <span class="label label-default" style=" font-size: 11px;">Longitud : {{pic.longitud}}</span>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">
                                <button role="button" id="btnCancelar" class="btn btn-default" style="background-color: #fff;" data-dismiss="modal"><i class="fa fa-close fa-lg"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modalNotas" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 45% !important;">
            <div class="panel panel-oscuro">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"><i class="fa fa-cogs fa-lg"></i> COMENTARIOS  {{OperarioConsulta}}</h6>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="comment">Comentario :</label>
                            <textarea class="form-control" maxlength="500" rows="2" id="txt_comentario"></textarea>
                        </div>
                        <div class="form-group" style="text-align :center">
                            <button role="button" id="btnGuardar" class="btn btn-default" ng-click="GuardarNotas();"><i class="fa fa-save fa-lg"></i> Grabar</button>
                        </div>
                    </div>
                    <hr />

                    <div class="detalleNotas">
                        <table id="tbl_DetalleNotas" class="table table-condensed table-bordered table-responsive" border="0" cellspacing="0" cellpadding="0" style="font-size:11px">
                            <thead style="background: #F0F3F5;">
                                <tr>
                                    <th>#</th>
                                    <th style="text-align:center">Nro. Doc</th>
                                    <th style="text-align:center">Usuario</th>
                                    <th style="text-align:center">Fecha</th>
                                    <th style="text-align:center">Observacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lista in ListaNotas">
                                    <td>{{$index + 1}}</td>
                                    <td style="text-align:center">{{lista.id_Operario}}</td>
                                    <td style="text-align:center">{{lista.desc_operario}}</td>
                                    <td style="text-align:center">{{lista.fecha}}</td>
                                    <td style="text-align:center">{{lista.observacion}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">
                                <button role="button" id="btnCancelar" class="btn btn-default" style="background-color: #fff;" data-dismiss="modal"><i class="fa fa-close fa-lg"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modalObservaciones" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 45% !important;">
            <div class="panel panel-oscuro">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"><i class="fa fa-cogs fa-lg"></i> OBSERVACIONES - {{OperarioConsulta}}</h6>
                </div>
                <div class="panel-body">
                    <div class="table table-responsive form-group" style="height:300px">
                        <table id="tblLista_Operario" class="table table-condensed table-bordered table-responsive" border="0" cellspacing="0" cellpadding="0" style="font-size:11px">
                            <thead style="background: #F0F3F5;">
                                <tr>
                                    <th>#</th>
                                    <th>Codigo</th>
                                    <th>Observacion</th>
                                    <th>Total</th>
                                    <th>Con Foto</th>
                                    <th>Sin Foto</th>
                                    <th>Barra Progreso</th>
                                    <th style="text-align:right">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lista in ListaOperario_Observacion">
                                    <td>{{$index + 1}}</td>
                                    <td>{{lista.codigo}}</td>
                                    <td>{{lista.observacion}}</td>
                                    <td style="text-align:right">{{lista.total}}</td>
                                    <td style="text-align:right">{{lista.conFoto}}</td>
                                    <td style="text-align:right">{{lista.sinFoto}}</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 2px;">
                                            <div class="progress progress-bar" ng-style="{'width': lista.porcentaje + '%' }">
                                                <span>%</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align:right">{{lista.porcentaje}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">
                                <button role="button" id="btnCancelar" class="btn btn-default" style="background-color: #fff;" data-dismiss="modal"><i class="fa fa-close fa-lg"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
