@{
    /**/

    ViewBag.Title = "Control Preventivo Masivo";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.js")
    @Scripts.Render("~/Content/bootstrap-table/locale/bootstrap-table-es-MX.js")

    @Scripts.Render("~/Content/bootstrap/js/bootstrap-toggle.min.js")
    @Scripts.Render("~/Content/angular/angular.js")
    <script src="~/Content/pdf/html2canvas.js"></script>

    @Scripts.Render("~/Content/pdf/jspdf.js")
    @Scripts.Render("~/Content/pdf/pdfFromHTML.js")
    @Scripts.Render("~/Content/pdf/jspdf.plugin.autotable.js")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-toggle.min.css")

    @Styles.Render("~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css")
    @Scripts.Render("~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")

    @Styles.Render("~/Content/dataTables-bootstrap/css/dataTables.bootstrap.min.css")
    @Scripts.Render("~/Content/dataTables-bootstrap/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/dataTables-bootstrap/js/dataTables.bootstrap.min.js")

}

<style>
    .form-control {
        font-size: 11px;
        width: 100%;
        height: 28px;
    }

    input[type="text"] {
        font-size: 11px;
    }

    .btn {
        font-size: 12px;
    }

    input[type="text"] {
        font-size: 11px;
    }

    label {
        font-family: "Tahoma", "Geneva", sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    .datepicker {
        width: 200px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<script type="text/javascript">
    var app = angular.module('appControlPreventivo', []);

    app.directive('onFinishRender', function ($timeout) {
        return {
            restrict: 'A',
            link: function (scope, element, attr) {
                if (scope.$last === true) {
                    $timeout(function () {
                        scope.$emit(attr.onFinishRender);
                    });
                }
            }
        }
    });

    app.controller('ctrlControl', function ($scope, $http, $timeout, $q) {
        $(function () {
            $('#id_fecha').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                autoclose: true
            });
            $('#id_fecha_final').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                autoclose: true
            });

            
        });

        $scope.Obj_List_Servicios = [];
        $scope.Listado_Servicios = function () {
            var variables = {
                method: 'POST',
                url: '../GeneracionActas/getAreas',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                }
            }
            $http(variables)
            .success(function (data) {
                $scope.Obj_List_Servicios = [];
                $scope.Obj_List_Servicios = data;
            })
            .error(function () {
                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
            });
        }
               
        $scope.Obj_List_Operario = [];
        $scope.Listado_Operarios = function () {
            var variables = {
                method: 'POST',
                url: '../VerificacionFotos/ListandoOperarios',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                }
            }
            $http(variables)
            .success(function (data) {
                $scope.Obj_List_Operario = [];
                $scope.Obj_List_Operario = data;
            })
            .error(function () {
                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
            });
        }
        ;

        var oTable_cabecera = null;
        $scope.$on('ngRepeatFinished_cabecera', function (ngRepeatFinishedEvent) {
            oTable_cabecera = $('#tblLista').DataTable(
                 {
                     scrollY: "400px",
                     paging: false,
                 });
        });
        
        $scope.inicializando_variables = function () {
            $scope.id_area = '0';
            $scope.id_operario = '0';
            $scope.tipo_reporte = '1';
            $scope.Listado_Servicios();
            $scope.Listado_Operarios()
        }
        
        $scope.Obj_List_Cabecera = [];
        $scope.Listado_Cabecera_Inspecciones = function () {

            var cbo_area = document.getElementById('cbo_area').value;
            var cbo_operario = document.getElementById('cbo_operario').value;
            var id_fecha = document.getElementById('id_fecha').value;
            var id_fecha_final = document.getElementById('id_fecha_final').value;
            var cbo_tipoReporte = document.getElementById('cbo_tipoReporte').value;

            if (cbo_area == '' || cbo_area == 0) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione una Actividad.',
                    type: 'error'
                });
                return;
            }
            if (id_fecha == '') {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor ingrese o seleccione una Fecha Inicial.',
                    type: 'error'
                });
                return;
            }
            if (id_fecha_final == '') {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor ingrese o seleccione una Fecha Final.',
                    type: 'error'
                });
                return;
            }
            if (cbo_tipoReporte == '' || cbo_tipoReporte == 0 || cbo_tipoReporte == ''  ) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor seleccione un Tipo de Reporte.',
                    type: 'error'
                });
                return;
            }



            (new PNotify({
                title: 'Sistemas Confirmación ',
                text: 'Esta por Descargar masivamente, estan correctos los filtros, porque esta accion  puede demorar varios minutos .. ?',
                icon: 'glyphicon glyphicon-question-sign',
                hide: false,
                confirm: {
                    confirm: true
                },
                buttons: {
                    closer: false,
                    sticker: false
                },
                history: {
                    history: false
                }
            })).get().on('pnotify.confirm', function () {

                $('.sige-load').show();

                var variables = {
                    method: 'POST',
                    url: '../GeneracionActas/Mostrando_informacion_InspeccionesMasivas',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        servicio: cbo_area,
                        operario: cbo_operario,
                        fecha: id_fecha,
                        fechaFinal: id_fecha_final,
                        tipoReporte: cbo_tipoReporte
                    }
                }
                $http(variables)
                    .success(function (data) {

                        if (data.length > 0) {
                            $scope.crear_pdf_inspecciones_Masivas(data);
                            $('.sige-load').hide();
                        }

                    })
                    .error(function () {
                        $('.sige-load').hide();
                        alert('Ocurrio un problema con la conexion, vuelva a intentar');
                    });

            }).on('pnotify.cancel', function () {
                $('.sige-load').hide();
            });
        }
               
        $scope.crear_pdf_inspecciones_Masivas = function (obj_data) {
            if ($scope.tipo_reporte == '1' && $scope.tipo_reporte == 1) {
 
                var doc = new jsPDF();
                var altura = 10;   
                var id_Inspeccion = 0;
                var InspeccionesCab = [];
                id_Inspeccion = 0;

                //---obteniendo los idInspeccion Cabecera unicos ---
                for (var i = 0; i < obj_data.length; i++) {
                    if (id_Inspeccion != obj_data[i].id_Inspeccion) {
                        id_Inspeccion = obj_data[i].id_Inspeccion;
                        
                        let result = InspeccionesCab.filter(i => i == id_Inspeccion);
                        if (result.length ==0) {
                            InspeccionesCab.push({ id_Inspeccion : id_Inspeccion });
                        }    
                    }
                }
                 //---Fin obteniendo los idInspeccion Cabecera unicos ---

                id_Inspeccion = 0;         
                var cont = 0;

                //--- ejecutando la funcion recursiva por cada uno de la cabecera
                var ejecutarInspeccionesCab = function (index) {
                    if (index == InspeccionesCab.length) {
                        return
                    }
                    id_Inspeccion = InspeccionesCab[index].id_Inspeccion;
                    let logoReporte = function () {
                        return new Promise(function (resolve, reject) {
                            var imgDataLogo = String('../Content/Imagen/logoCobra.png');
                            var imgL = new Image;
                            imgL.onload = function () {
                                doc.addImage(this, 'JPEG', 3, 8, 40, 15);
                                cuerpoGeneralReporte();
                                resolve('ok')
                            };
                            imgL.crossOrigin = "";
                            imgL.src = imgDataLogo;  // some random imgur image                       
                        })
                    }

                    let cuerpoGeneralReporte = function () {
                        for (var i = 0; i < obj_data.length; i++) {
                            if (id_Inspeccion == obj_data[i].id_Inspeccion) {

                                doc.setFontSize(13);
                                doc.setFont("courier");
                                doc.setFontType("bold");
                                doc.text(50, 18, 'CHECK LIST DE EPP, EQUIPOS Y HERRAMIENTAS');
                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                altura = altura + 4;
                                doc.text(170, altura, 'CO-FO-9122-SSOMA-005');
                                altura = altura + 2.5;
                                doc.text(170, altura, 'Versión: 00');
                                altura = altura + 2.5;
                                ///doc.text(170, altura, 'Pagina: 01 de 01');
                                altura = altura + 15;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 8, 'FD');
                                doc.text(5, altura + 2, '1. DATOS DEL TRABAJADOR: ' );
                                altura = altura + 10;

                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                doc.text(5, altura, 'APELLIDOS Y NOMBRES: ' + String(obj_data[i].apellidosNombres)); doc.text(120, altura, 'DNI: ' + String(obj_data[i].dni));
                                altura = altura + 10;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 8, 'FD');
                                doc.text(5, altura + 2, '2. ACTIVIDAD:');

                                altura = altura + 10;

                                doc.setFontSize(7);
                                doc.setFontType("normal");
                                doc.text(10, altura, 'REPARTO'); doc.rect(25, altura - 3, 5, 4); doc.text(26.5, altura, String(obj_data[i].actividadReparto));
                                doc.text(40, altura, 'LECTURA'); doc.rect(55, altura - 3, 5, 4); doc.text(56.5, altura, String(obj_data[i].actividadLectura));
                                doc.text(70, altura, 'RELECTURAS'); doc.rect(90, altura - 3, 5, 4); doc.text(91.5, altura, String(obj_data[i].actividadRelectura));
                                doc.text(110, altura, 'CORTES Y RECONEXIONES'); doc.rect(145, altura - 3, 5, 4); doc.text(146.5, altura, String(obj_data[i].actividadCorte));
                                altura = altura + 10;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 8, 'FD');
                                doc.text(5, altura + 2, '3. TIPO DE TRASLADO:');
                                altura = altura + 10;

                                doc.setFontSize(7);
                                doc.setFontType("normal");
                                doc.text(38, altura, 'CAMINANTE'); doc.rect(55, altura - 3, 5, 4); doc.text(57, altura, String(obj_data[i].transladoCaminante));
                                doc.text(120, altura, 'MOTORIZADO'); doc.rect(140, altura - 3, 5, 4); doc.text(142, altura, String(obj_data[i].transladoMotorizado));
                                altura = altura + 10;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 8, 'FD');
                                doc.text(5, altura + 2, '4. DATOS GENERALES:');
                                altura = altura + 10;

                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                doc.text(5, altura, ' FECHA: ' + String(obj_data[i].fecha)); doc.text(35, altura, 'DELEGACION: ' + String(obj_data[i].delegacion));
                                doc.text(65, altura, 'UBICACIÓN: ' + String(obj_data[i].ubicacion)); doc.text(175, altura, 'CLIENTE: ' + String(obj_data[i].cliente));

                                altura = altura + 9; ///---- modificado

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 72, 8, 'FD');
                                doc.text(5, altura + 2, '5. DOCUMENTACION: ');
                                altura = altura + 10;

                                doc.setFontType("normal");
                                doc.setFontSize(6);

                                lado1 = 0;
                                lado2 = 0;
                                lado3 = 0;

                                ///----cabeceras LADO 1----
                                doc.rect(63, altura - 3, 5, 4); doc.text(64, altura, 'SI'); doc.rect(68, altura - 3, 5, 4); doc.text(69, altura, 'NO');
                                for (item of obj_data) {
                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 1) {
                                            altura = altura + 4;
                                            doc.text(5, altura, String(item.descripcion)); doc.rect(63, altura - 3, 5, 4); doc.text(64.5, altura, String(item.valorSi)); doc.rect(68, altura - 3, 5, 4); doc.text(69.5, altura, String(item.valorNo));
                                        }
                                    }
                                }

                                lado1 = altura;

                                altura = 113
                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(79, altura - 3, 73, 8, 'FD');
                                doc.text(81, altura + 2, '6. EQUIPOS DE PROTECCIÓN PERSONAL: ');
                                altura = altura + 10;

                                doc.setFontType("normal");
                                doc.setFontSize(6);

                                ///----cabeceras LADO 2 ----
                                doc.text(81, altura, 'B: BUENO ME: MAL ESTADO  NA: NO APLICA  NT: NO TIENE ') ///---- inicio modificado
                                altura = altura + 5;
                                doc.rect(133, altura - 3, 5, 4); doc.text(134.5, altura, 'B'); doc.rect(138, altura - 3, 5, 4); doc.text(139, altura, 'ME'); doc.rect(143, altura - 3, 5, 4); doc.text(144, altura, 'NA'); doc.rect(148, altura - 3, 5, 4); doc.text(149, altura, 'NT');
                                for (item of obj_data) {
                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 2) {
                                            altura = altura + 4;
                                            doc.text(81, altura, item.descripcion); doc.rect(133, altura - 3, 5, 4); doc.text(134.5, altura, item.valorBueno); doc.rect(138, altura - 3, 5, 4); doc.text(139.5, altura, item.valorMal); doc.rect(143, altura - 3, 5, 4); doc.text(144.5, altura, item.valorNa); doc.rect(148, altura - 3, 5, 4); doc.text(149.5, altura, item.valorNt);
                                        }
                                    }
                                }

                                lado2 = altura;

                                altura = 113
                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(157, altura - 3, 52, 8, 'FD');///---- modificado
                                doc.text(158, altura + 2, '7. EQUIPOS Y HERRAMIENTAS: '); ///---- modificado
                                altura = altura + 10;

                                doc.setFontType("normal");
                                doc.setFontSize(6);

                                ///----cabeceras LADO 3 ----
                                doc.text(159, altura, 'B:BUENO  ME:MAL ESTADO  NA:NO APLICA') ///---- modificado
                                altura = altura + 3;
                                doc.text(159, altura, 'NT: NO TIENE ') ///---- modificado
                                altura = altura + 2;
                                doc.rect(188, altura - 3, 5, 4); doc.text(189.5, altura, 'B'); doc.rect(193, altura - 3, 5, 4); doc.text(194, altura, 'ME'); doc.rect(198, altura - 3, 5, 4); doc.text(199, altura, 'NA'); doc.rect(203, altura - 3, 5, 4); doc.text(204, altura, 'NT')///---- modificado


                                for (item of obj_data) {
                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 3) {
                                            altura = altura + 4;
                                            doc.text(158, altura, item.descripcion); doc.rect(188, altura - 3, 5, 4); doc.text(189.5, altura, item.valorBueno); doc.rect(193, altura - 3, 5, 4); doc.text(194.5, altura, item.valorMal); doc.rect(198, altura - 3, 5, 4); doc.text(199.5, altura, item.valorNa); doc.rect(203, altura - 3, 5, 4); doc.text(204.5, altura, item.valorNt);
                                        }
                                    }
                                }

                                lado3 = altura;

                                if (lado1 == lado2 && lado1 == lado3) {
                                    altura = lado1;
                                }
                                else {
                                    if (lado1 > lado2) {
                                        if (lado1 > lado3) {
                                            altura = lado1;
                                        }
                                        else {
                                            altura = lado3;
                                        }
                                    }
                                    else {
                                        if (lado1 < lado2) {
                                            if (lado2 > lado3) {
                                                altura = lado2;
                                            }
                                            else {
                                                altura = lado3;
                                            }
                                        }
                                    }
                                }

                                altura = altura + 10;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 8, 'FD');
                                doc.text(5, altura + 2, '8. OBSERVACIONES: ');
                                altura = altura + 10;

                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                var splitTitle = doc.splitTextToSize(String(obj_data[i].observaciones), 200);

                                //----como la obsevacion es dinamico obtenemos los espacios dinamicos tambien----
                                doc.text(5, altura, splitTitle);
                                _val = 0;
                                if (splitTitle.length == 0) {
                                    _val = 8;
                                } else {
                                    if (splitTitle.length == 1) {
                                        _val = 8;
                                    } else {
                                        _val = (4 * splitTitle.length);
                                    }
                                }
                                altura = (altura + _val);

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 8, 'FD');
                                doc.text(5, altura + 2, '9. DECLARACIÓN JURADA: ');
                                altura = altura + 10;

                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                var splitTitle2 = doc.splitTextToSize(String('Estoy de acuerdo con cada uno de los lineamientos y sanciones que se pueda generar por el incumplimiento del Reglamento Interno de Seguridad y Salud en el trabajo. '), 200);
                                doc.text(5, altura, splitTitle2);

                                console.log('saliendo : ' + id_Inspeccion)

                                break;
                            }
                        }
                    }
                    
                    async function generarReporte() {
                        return result = await logoReporte();
                    }
              
                    generarReporte().then((res) => {
                        cont += 1;
                        if (InspeccionesCab.length != cont) {
                            //---agregando nuevo documento .....
                            doc.addPage();
                            altura = 10;
                            ejecutarInspeccionesCab(index + 1)
                        } else {
                            //var string = doc.output('datauristring');
                            //var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>";
                            //var x = window.open();
                            //x.document.open();
                            //x.document.write(iframe);
                            //x.document.close();
                            doc.save('Formato1_caminante.pdf');
                        }
                    });

                }
                 ejecutarInspeccionesCab(0)                

            }
            else if ($scope.tipo_reporte == '2' && $scope.tipo_reporte == 2) {
     
                var doc = new jsPDF();
                var altura = 10;
                var lados = 0;
                var id_Inspeccion = 0;
                var InspeccionesCab = [];
                id_Inspeccion = 0;

                //---obteniendo los idInspeccion Cabecera unicos ---
                for (var i = 0; i < obj_data.length; i++) {
                    if (id_Inspeccion != obj_data[i].id_Inspeccion) {
                        id_Inspeccion = obj_data[i].id_Inspeccion;

                        let result = InspeccionesCab.filter(i => i == id_Inspeccion);
                        if (result.length == 0) {
                            InspeccionesCab.push({ id_Inspeccion: id_Inspeccion });
                        }
                    }
                }
                //---Fin obteniendo los idInspeccion Cabecera unicos ---

                id_Inspeccion = 0;
                var cont = 0;

                //--- ejecutando la funcion recursiva por cada uno de la cabecera
                var ejecutarInspeccionesCab_Motorizado = function (index) {
                    if (index == InspeccionesCab.length) {
                        return
                    }
                    id_Inspeccion = InspeccionesCab[index].id_Inspeccion;
                    let logoReporte = function () {
                        return new Promise(function (resolve, reject) {
                            var imgDataLogo = String('../Content/Imagen/logoCobra.png');
                            var imgL = new Image;
                            imgL.onload = function () {
                                doc.addImage(this, 'JPEG', 3, 4, 40, 15);
                                cuerpoGeneralReporte_Motorizado();
                                resolve('ok')
                            };
                            imgL.crossOrigin = "";
                            imgL.src = imgDataLogo;  // some random imgur image                       
                        })
                    }

                    let cuerpoGeneralReporte_Motorizado = function () {
                        for (var i = 0; i < obj_data.length; i++) {
                            if (id_Inspeccion == obj_data[i].id_Inspeccion) {
                                
                                doc.setFontSize(13);
                                doc.setFont("courier");
                                doc.setFontType("bold");
                                doc.text(50, 15, 'CHECK LIST DE EPP, EQUIPOS Y HERRAMIENTAS');
                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                altura = altura + 4;
                                doc.text(170, altura, 'CO-FO-9122-SSOMA-005');
                                altura = altura + 2.5;
                                doc.text(170, altura, 'Versión: 00');
                                altura = altura + 2.5;
                                //doc.text(170, altura, 'Pagina: 01 de 01');
                                altura = altura + 5;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 6, 'FD');
                                doc.text(5, altura + 1, '1. DATOS DEL TRABAJADOR:');
                                altura = altura + 7;

                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                doc.text(5, altura, 'APELLIDOS Y NOMBRES: ' + String(obj_data[i].apellidosNombres)); doc.text(120, altura, 'DNI: ' + String(obj_data[i].dni));
                                altura = altura + 6;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 6, 'FD');
                                doc.text(5, altura + 1, '2. ACTIVIDAD:');

                                altura = altura + 8;

                                doc.setFontSize(7);
                                doc.setFontType("normal");
                                doc.text(10, altura, 'REPARTO'); doc.rect(25, altura - 3, 5, 4); doc.text(26.5, altura, String(obj_data[i].actividadReparto));
                                doc.text(40, altura, 'LECTURA'); doc.rect(55, altura - 3, 5, 4); doc.text(56.5, altura, String(obj_data[i].actividadLectura));
                                doc.text(70, altura, 'RELECTURAS'); doc.rect(90, altura - 3, 5, 4); doc.text(91.5, altura, String(obj_data[i].actividadRelectura));
                                doc.text(110, altura, 'CORTES Y RECONEXIONES'); doc.rect(145, altura - 3, 5, 4); doc.text(146.5, altura, String(obj_data[i].actividadCorte));
                                altura = altura + 7;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 6, 'FD');
                                doc.text(5, altura + 1, '3. TIPO DE TRASLADO:');
                                altura = altura + 8;

                                doc.setFontSize(7);
                                doc.setFontType("normal");
                                doc.text(38, altura, 'CAMINANTE'); doc.rect(55, altura - 3, 5, 4); doc.text(56.5, altura, String(obj_data[i].transladoCaminante));
                                doc.text(120, altura, 'MOTORIZADO'); doc.rect(140, altura - 3, 5, 4); doc.text(141.5, altura, String(obj_data[i].transladoMotorizado));
                                altura = altura + 6;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 6, 'FD');
                                doc.text(5, altura + 1, '4. DATOS GENERALES:');
                                altura = altura + 7;

                                doc.setFontType("normal");
                                doc.setFontSize(7);

                                doc.text(5, altura, ' FECHA: ' + String(obj_data[i].fecha)); doc.text(35, altura, 'DELEGACION: ' + String(obj_data[i].delegacion));
                                doc.text(65, altura, 'UBICACIÓN: ' + String(obj_data[i].ubicacion)); doc.text(180, altura, 'CLIENTE: ' + String(obj_data[i].cliente));

                                altura = altura + 6;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 72, 6, 'FD');
                                doc.text(5, altura + 1, '5. DATOS DE VEHICULO ');
                                altura = altura + 7;

                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                doc.text(5, altura, ' Placa de la unidad: ' + String(obj_data[i].placa)); doc.text(150, altura, 'Año Fabric: ' + String(obj_data[i].anio));
                                altura = altura + 4;
                                doc.text(5, altura, ' Marca de la unidad: ' + String(obj_data[i].marca)); doc.text(150, altura, 'Kilometraje: ' + String(obj_data[i].kilometraje));
                                altura = altura + 4;
                                doc.text(5, altura, ' Modelo: ' + String(obj_data[i].modelo)); doc.text(150, altura, 'Cilindrada: ' + String(obj_data[i].cilindraje));
                                altura = altura + 6;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 97, 6, 'FD');
                                doc.text(5, altura + 1, '6. DOCUMENTACION: ');
                                altura = altura + 8;

                                lado1 = 0;
                                lado2 = 0;

                                doc.setFontType("normal");
                                doc.setFontSize(6.5);

                                ///----cabeceras LADO 1----
                                doc.rect(67, altura - 3, 5, 4); doc.text(68.5, altura, 'SI'); doc.rect(72, altura - 3, 5, 4); doc.text(73.5, altura, 'NO'); doc.rect(77, altura - 3, 5, 4); doc.text(78.5, altura, 'NA'); doc.rect(82, altura - 3, 17, 4); doc.text(83.5, altura, 'F.VIGENCIA');
                                for (item of obj_data) {
                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 1) {
                                            altura = altura + 4;
                                            doc.text(5, altura, String(item.descripcion)); doc.rect(67, altura - 3, 5, 4); doc.text(68.5, altura, String(item.valorSi)); doc.rect(72, altura - 3, 5, 4); doc.text(73.5, altura, String(item.valorNo)); doc.rect(77, altura - 3, 5, 4); doc.text(78.5, altura, String(item.valorNa)); doc.rect(82, altura - 3, 17, 4); doc.text(83.5, altura, String(item.valorfecha));
                                        }
                                    }
                                }

                                lado1 = altura;
                                altura = 100;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(110, altura - 3, 97, 6, 'FD');
                                doc.text(112, altura + 1, '7. EQUIPOS DE SEGURIDAD Y HERRAMIENTAS :');
                                altura = altura + 8;

                                doc.setFontType("normal");
                                doc.setFontSize(6.5);
                                ///----cabeceras LADO 2----
                                doc.rect(150, altura - 3, 5, 4); doc.text(151.5, altura, 'SI'); doc.rect(155, altura - 3, 5, 4); doc.text(156.5, altura, 'NO'); doc.rect(160, altura - 3, 5, 4); doc.text(161.5, altura, 'NT'); doc.rect(160, altura - 3, 47, 4); doc.text(170.5, altura, 'OBSERVACIONES');
                                for (item of obj_data) {
                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 2) {
                                            altura = altura + 4;
                                            doc.text(112, altura, String(item.descripcion)); doc.rect(150, altura - 3, 5, 4); doc.text(151.5, altura, String(item.valorSi)); doc.rect(155, altura - 3, 5, 4); doc.text(156.5, altura, String(item.valorNo)); doc.rect(160, altura - 3, 5, 4); doc.text(161.5, altura, String(item.valorNt)); doc.rect(160, altura - 3, 47, 4); doc.text(166.5, altura, String(item.valorObservaciones));
                                        }
                                    }
                                }

                                lado2 = altura;

                                if (lado1 > lado2) {
                                    altura = lado1;
                                } else {
                                    altura = lado2;
                                }
                                altura = altura + 8;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 6, 'FD');
                                doc.text(5, altura + 1, '8. REVISION DEL VEHICULO: ');
                                altura = altura + 7;

                                doc.setFontType("normal");
                                doc.setFontSize(6.5);

                                lado1 = 0;
                                lado2 = 0;
                                lado3 = 0;


                                //----NUEVO JULIO
                                var ac = 1;
                                doc.text(5, altura, 'B : BUENO    ME : MAL ESTADO   NA : NO APLICA   NT : NO TIENE ')
                                altura = altura + 5;

                                doc.rect(50, altura - 3, 5, 4); doc.text(51.5, altura, 'B'); doc.rect(55, altura - 3, 5, 4); doc.text(56.5, altura, 'ME'); doc.rect(60, altura - 3, 5, 4); doc.text(61.5, altura, 'NA'); doc.rect(65, altura - 3, 5, 4); doc.text(66.5, altura, 'NT');
                                /////----cabeceras LADO 2 ---- 
                                doc.rect(118, 172 - 3, 5, 4); doc.text(119.5, 172, 'B'); doc.rect(123, 172 - 3, 5, 4); doc.text(124.5, 172, 'ME'); doc.rect(128, 172 - 3, 5, 4); doc.text(129.5, 172, 'NA'); doc.rect(133, altura - 3, 5, 4); doc.text(134.5, altura, 'NT');
                                /////----cabeceras LADO 3 ---- 
                                doc.rect(188, 172 - 3, 5, 4); doc.text(189.5, 172, 'B'); doc.rect(193, 172 - 3, 5, 4); doc.text(194, 172, 'ME'); doc.rect(198, 172 - 3, 5, 4); doc.text(199, 172, 'NA'); doc.rect(203, altura - 3, 5, 4); doc.text(204.5, altura, 'NT');

                                for (item of obj_data) {
                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 3) {
                                            altura = altura + 4;
                                            if (ac <= 15) {
                                                doc.text(4, altura, ac + ' ' + String(item.descripcion)); doc.rect(50, altura - 3, 5, 4); doc.text(51.5, altura, String(item.valorBueno)); doc.rect(55, altura - 3, 5, 4); doc.text(56.5, altura, String(item.valorMal)); doc.rect(60, altura - 3, 5, 4); doc.text(61.5, altura, String(item.valorNa)); doc.rect(65, altura - 3, 5, 4); doc.text(66.5, altura, String(item.valorNt));
                                                if (ac == 15) {
                                                    lado1 = altura
                                                    altura = 172
                                                }
                                                ac += 1;
                                            }
                                            else if (ac > 15 && ac <= 30) {

                                                doc.text(73, altura, ac + ' ' + String(item.descripcion)); doc.rect(118, altura - 3, 5, 4); doc.text(119.5, altura, String(item.valorBueno)); doc.rect(123, altura - 3, 5, 4); doc.text(124.5, altura, String(item.valorMal)); doc.rect(128, altura - 3, 5, 4); doc.text(129.5, altura, String(item.valorNa)); doc.rect(133, altura - 3, 5, 4); doc.text(134.5, altura, String(item.valorNt));
                                                if (ac == 30) {
                                                    altura = 172
                                                }
                                                ac += 1;
                                            }
                                            else if (ac > 30) {
                                                doc.text(141, altura, ac + ' ' + String(item.descripcion)); doc.rect(188, altura - 3, 5, 4); doc.text(189.5, altura, String(item.valorBueno)); doc.rect(193, altura - 3, 5, 4); doc.text(194.5, altura, String(item.valorMal)); doc.rect(198, altura - 3, 5, 4); doc.text(199.5, altura, String(item.valorNa)); doc.rect(203, altura - 3, 5, 4); doc.text(204.5, altura, String(item.valorNt));
                                                ac += 1;
                                            }
                                        }
                                    }
                                }

 
                                altura = lado1;
                                altura = altura + 7;

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 6, 'FD');
                                doc.text(5, altura + 1, '9. OBSERVACIONES: ');
                                altura = altura + 7;

                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                var splitTitle = doc.splitTextToSize(String(obj_data[i].observaciones), 200);

                                //----como la obsevacion es dinamico obtenemos los espacios dinamicos tambien----
                                doc.text(5, altura, splitTitle);
                                _val = 0;
                                if (splitTitle.length == 0) {
                                    _val = 8;
                                } else {
                                    if (splitTitle.length == 1) {
                                        _val = 8;
                                    } else {
                                        _val = (4 * splitTitle.length);
                                    }
                                }
                                altura = (altura + _val);

                                doc.setFontSize(9);
                                doc.setFontType("bold");
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(3, altura - 3, 205, 6, 'FD');
                                doc.text(5, altura + 1, '10. DECLARACIÓN JURADA: ');
                                altura = altura + 7;

                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                var splitTitle2 = doc.splitTextToSize(String('Estoy de acuerdo con cada uno de los lineamientos y sanciones que se pueda generar por el incumplimiento del Reglamento Interno de Seguridad y Salud en el trabajo. '), 200);
                                doc.text(5, altura, splitTitle2);
                                                               
                                console.log('saliendo motorizado : ' + id_Inspeccion)

                                break;
                            }
                        }
                    }

                    async function generarReporte() {
                        return result = await logoReporte();
                    }

                    generarReporte().then((res) => {
                        cont += 1;
                        if (InspeccionesCab.length != cont) {
                            //---agregando nuevo documento .....
                            doc.addPage();
                            altura = 10;
                            ejecutarInspeccionesCab_Motorizado(index + 1)
                        } else {
                            //var string = doc.output('datauristring');
                            //var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>";
                            //var x = window.open();
                            //x.document.open();
                            //x.document.write(iframe);
                            //x.document.close();
                            doc.save('Formato2_motorizado.pdf');
                        }
                    });

                }
                ejecutarInspeccionesCab_Motorizado(0) 
                                                          
            }
            else if ($scope.tipo_reporte == '3' && $scope.tipo_reporte == 3) {
                             
                var doc = new jsPDF();
                var altura = 12;
                var lados = 0;
                var id_Inspeccion = 0;
                var InspeccionesCab = [];
                id_Inspeccion = 0;

                //---obteniendo los idInspeccion Cabecera unicos ---
                for (var i = 0; i < obj_data.length; i++) {
                    if (id_Inspeccion != obj_data[i].id_Inspeccion) {
                        id_Inspeccion = obj_data[i].id_Inspeccion;

                        let result = InspeccionesCab.filter(i => i == id_Inspeccion);
                        if (result.length == 0) {
                            InspeccionesCab.push({ id_Inspeccion: id_Inspeccion });
                        }
                    }
                }
                //---Fin obteniendo los idInspeccion Cabecera unicos ---

                id_Inspeccion = 0;
                var cont = 0;

                //--- ejecutando la funcion recursiva por cada uno de la cabecera
                var ejecutarInspeccionesCab_Charla = function (index) {
                    if (index == InspeccionesCab.length) {
                        return
                    }
                    id_Inspeccion = InspeccionesCab[index].id_Inspeccion;
                    let logoReporte = function () {
                        return new Promise(function (resolve, reject) {
                            var imgDataLogo = String('../Content/Imagen/logoCobra.png');
                            var imgL = new Image;
                            imgL.onload = function () {
                                doc.addImage(this, 'JPEG', 6, 4, 40, 15);
                                cuerpoGeneralReporte_Charla();
                                resolve('ok')
                            };
                            imgL.crossOrigin = "";
                            imgL.src = imgDataLogo;  // some random imgur image                       
                        })
                    }

                    let cuerpoGeneralReporte_Charla = function () {
                        for (var i = 0; i < obj_data.length; i++) {
                            if (id_Inspeccion == obj_data[i].id_Inspeccion) {
                                
                                doc.setFontSize(13);
                                doc.setFont("courier");
                                doc.setFontType("bold");
                                doc.text(80, altura, 'CONTROL PREVENTIVO');
                                doc.setFontType("normal");
                                doc.setFontSize(6);
                                doc.text(165, altura, 'Código: ' + obj_data[i].codigo);
                                altura = altura + 3;
                                doc.setFontType("normal");
                                doc.setFontSize(7);
                                doc.text(90, altura, 'CHARLA PREOPERACIONAL'); doc.setFontSize(6); doc.text(165, altura, 'Rev.: ' + obj_data[i].rev);
                                altura = altura + 3;
                                doc.setFontSize(7);
                                doc.text(90, altura, 'Servicios Auxiliares'); doc.setFontSize(6); doc.text(165, altura, 'Fecha: ' + obj_data[i].fecha);
                                altura = altura + 8;
                                doc.setFontSize(8);
                                doc.setFontType("bold");

                                doc.text(6, altura, 'RESPONSABLE DE TRABAJO: ' + obj_data[i].responsable);
                                doc.line(6, altura + 1.5, 200, altura + 1.5) // horizontal line
                                altura = altura + 6;
                                doc.text(6, altura, 'ACTIVIDAD A REALIZAR: ' + obj_data[i].titulo);
                                doc.line(6, altura + 1.5, 200, altura + 1.5) // horizontal line
                                altura = altura + 6;
                                doc.text(6, altura, 'LUGAR: ' + obj_data[i].lugar); doc.text(145, altura, 'FECHA: ' + obj_data[i].fechafiltro); doc.text(175, altura, 'HORA: ' + obj_data[i].hora);
                                doc.line(6, altura + 1.5, 200, altura + 1.5) // horizontal line
                                altura = altura + 6;
                                doc.text(6, altura, 'CLIENTE: ' + obj_data[i].empresa);
                                doc.line(6, altura + 1.5, 200, altura + 1.5) // horizontal line
                                                                

                                altura = altura + 10;
                                doc.text(35, altura, 'ANTES DE REALIZAR LOS TRABAJOS ASIGNADOS VERIFICAR Y REALIZAR LO SIGUIENTE: ');
                                doc.line(35, altura + 1.5, 160, altura + 1.5) // horizontal line
                                altura = altura + 6;
                                doc.setFontSize(7);
                                doc.text(6, altura, '¤ Charla Pre Operacional, reconociendo previamente su zona de trabajo. Identificar los peligros y evaluar los riesgos, ');
                                altura = altura + 3;
                                doc.text(6, altura, '  estableciendo las medidas de control vinculadas.');
                                altura = altura + 4;
                                doc.text(6, altura, '¤ Revisar que los EPP, herramientas y otros medios de trabajos se encuentren en buen estado de conservación.');

                                altura = altura + 4;
                                doc.setFontType("normal");
                                doc.text(6, altura, '* Luego de la evaluación del entorno de trabajo, marcar con una X los peligros y riesgos identificados. Anotar en el apartado');
                                altura = altura + 3;
                                doc.text(6, altura, '*  de Medidas de control, los controles correspondientes referenciando el item del riesgo identificado');
                                altura = altura + 6;

                                doc.setFontSize(9);

                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(10, altura - 3, 90, 8, 'FD');
                                doc.text(32, altura + 2, 'PELIGROS IDENTIFICADOS');

                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(110, altura - 3, 91, 8, 'FD');
                                doc.text(137, altura + 2, 'RIESGOS IDENTIFICADOS');
                                altura = altura + 4;

                                //------LADO IZQUIERDO --- hay que aprender
                                lados = altura;
                                altura = lados;
                                var i = 1;
                                var ladoA = 0;
                                var ladoB = 0;

                                for (item of obj_data) {

                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 1) {
                                            altura = altura + 4;
                                            doc.setFontSize(11);
                                            doc.text(18, altura, item.valor); doc.rect(10, altura - 3, 20, 4);
                                            doc.text(38, altura, String(i)); doc.rect(30, altura - 3, 20, 4);
                                            doc.setFontSize(7); doc.text(55, altura, item.descripcion); doc.rect(50, altura - 3, 50, 4);
                                            i += 1;
                                        }
                                    }


                                }
                                ladoA = altura;
                                altura = 84;
                                var z = 1;
                                for (item of obj_data) {

                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 2) {
                                            altura = altura + 4;
                                            doc.setFontSize(11);
                                            doc.text(118, altura, item.valor); doc.rect(110, altura - 3, 20, 4);
                                            doc.text(138, altura, String(z)); doc.rect(130, altura - 3, 20, 4);
                                            doc.setFontSize(7); doc.text(151, altura, item.descripcion); doc.rect(150, altura - 3, 51, 4);
                                            z += 1;
                                        }
                                    }


                                }
                                ladoB = altura;

                                if (ladoA > ladoB) {
                                    altura = ladoA;
                                } else {
                                    altura = ladoB;
                                }

                                //------LADO DERECHO ---
                                altura = altura + 8;
                                doc.setFontSize(8);
                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(10, altura - 3, 90, 4, 'FD'); doc.text(10, altura, 'Otros peligros y riesgos');

                                lados = 0;
                                lados = altura;
                                altura = lados;
                                // lado 3
                                i = 1;
                                for (item of obj_data) {

                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 3) {
                                            altura = altura + 4;
                                            doc.text(18, altura, item.valor); doc.rect(10, altura - 3, 20, 4);
                                            doc.text(38, altura, String(i)); doc.rect(30, altura - 3, 20, 4);
                                            doc.setFontSize(7); doc.text(55, altura, item.descripcion); doc.rect(50, altura - 3, 50, 4);
                                            i += 1;
                                        }
                                    }


                                }
                                ladoA = altura;
                                altura = lados;
                                //lado 4
                                i = 1;
                                for (item of obj_data) {

                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 4) {
                                            altura = altura + 4;
                                            doc.text(118, altura, item.valor); doc.rect(110, altura - 3, 20, 4);
                                            doc.text(138, altura, String(i)); doc.rect(130, altura - 3, 20, 4);
                                            doc.setFontSize(7);
                                            doc.text(151, altura, item.descripcion); doc.rect(150, altura - 3, 51, 4);
                                            i += 1;
                                        }
                                    }


                                }
                                ladoB = altura;

                                if (ladoA > ladoB) {
                                    altura = ladoA;
                                } else {
                                    altura = ladoB;
                                }

                                altura = altura + 8;
                                doc.setFontSize(8);

                                doc.setDrawColor(0)
                                doc.setFillColor(220, 220, 220)
                                doc.rect(10, altura - 3, 191, 4, 'FD');
                                doc.text(10, altura, 'Item del Riesgo'); doc.text(80, altura, 'Medidas de Control del Riesgo');

                                lados = 0;
                                lados = altura;

                                //lado 5
                                i = 1;
                                for (item of obj_data) {

                                    if (id_Inspeccion == item.id_Inspeccion) {
                                        if (item.lado == 5) {
                                            altura = altura + 4;
                                            doc.setFontSize(11);
                                            doc.text(21, altura, String(i)); doc.rect(10, altura - 3, 25, 4);
                                            doc.setFontSize(8);
                                            doc.text(38, altura, item.descripcion); doc.rect(35, altura - 3, 166, 4);
                                            i += 1;
                                        }
                                    }


                                }

                                altura = altura + 8;


                                console.log('saliendo charla : ' + id_Inspeccion)

                                break;
                            }
                        }
                    }

                    async function generarReporte() {
                        return result = await logoReporte();
                    }

                    generarReporte().then((res) => {
                        cont += 1;
                        if (InspeccionesCab.length != cont) {
                            //---agregando nuevo documento .....
                            doc.addPage();
                            altura = 10;
                            ejecutarInspeccionesCab_Charla(index + 1)
                        } else {
                            //var string = doc.output('datauristring');
                            //var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>";
                            //var x = window.open();
                            //x.document.open();
                            //x.document.write(iframe);
                            //x.document.close();
                            doc.save('Formato_charlaPreoperacional.pdf');
                        }
                    });
                }
                ejecutarInspeccionesCab_Charla(0);
            }            
        }
          
    });

</script>


<div class="panel panel-oscuro" ng-app="appControlPreventivo" ng-controller="ctrlControl" ng-init="inicializando_variables();">
    <div class="panel-heading">
        <h6><i class="fa fa-table fa-lg"></i> DESCARGA CONTROL PREVENTIVO MASIVAMENTE</h6>
    </div>
    <div class="panel-body">
        <div id="Contenedor">
            <form class="form-inline">
                <div class="row" style=" margin-top: -10px;">
                    <div class="col-lg-12">
                        <div class="well" style="background: #314b75; color: white;">
                            <center>
                                <br />

                                <div class="form-group" style="padding-left: 15px;">
                                    <label for="cbo_area" style="font-size:11px; margin-top: 5px;">Actividad:</label>
                                    <select id="cbo_area" class="form-control" ng-model="id_area">
                                        <option value=0>--[ Seleccione ]-- </option>
                                        <option ng-repeat="item in Obj_List_Servicios" value="{{item.id_Area}}">
                                            {{item.nombre_area}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group" style="padding-left: 15px;margin-top: 5px;">
                                    <label class="control-label"> Rango de Asignacion </label>
                                    <div class="input-group">
                                        <input class="form-control" id="id_fecha" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                        <span class="input-group-addon">-</span>
                                        <input class="form-control" id="id_fecha_final" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    </div>
                                </div>

                                <div class="form-group" style="padding-left: 15px;  margin-top: 5px;">
                                    <label for="cbo_operario" style="font-size:11px">Operario:</label>
                                    <select id="cbo_operario" class="form-control" ng-model="id_operario">
                                        <option value=0>--[ Todos ]-- </option>
                                        <option ng-repeat="item in Obj_List_Operario" value="{{item.id_Operario}}">
                                            {{item.id_Operario}} : {{item.desc_operario}}
                                        </option>
                                    </select>
                                </div>


                                <div class="form-group" style="padding-left: 15px;  margin-top: 5px;">
                                    <label for="cbo_tipoReporte" style="font-size:11px">Tipo Reporte:</label>
                                    <select id="cbo_tipoReporte" class="form-control" ng-model="tipo_reporte">
                                        <option value=1>Caminante </option>
                                        <option value=2>Motorizado</option>
                                        <option value=3>Charla Pre-operacional </option>
                                    </select>
                                </div>

                                <div class="form-group" style="padding-left: 15px; margin-top: 5px;">                                    
                                    <button class="btn btn-success " ng-click="Listado_Cabecera_Inspecciones();" title="Descargar Masivamente Pdf"><span class="glyphicon glyphicon-download-alt"></span> PDF</button>
                                </div>
                            </center>
                            <br />
                            <hr />
 
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


